@charset "UTF-8";

.footer {
  &__base {
    @include theme-background;

    margin-top: $vertical-rythm-spacing-component;
    padding-top: $vertical-rythm-spacing-text;
    padding-bottom: $vertical-rythm-spacing-text * 2;
    color: $c-secondary;
    font-weight: $font-weight-bolder;
  }

  &__linkHomepage {
    @include link-with-logo;
  }

  &__copyright {
    position: relative;
    left: -30px;
    bottom: -7px;
    font-size: $font-size-small;
  }
}
